html {
	scroll-behavior: smooth;
}

#tools img {
	width: 80px;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	color: black;
}